html {
margin-top:0;
font-family:Helvetica;
font-size:18px;
line-height:1.6;
background-color:white;
}

p {
margin-top:-30px;
font-family:Helvetica;
font-size:18px;
line-height:1.6;
margin-left:-300px;
}

h1 {
font-family:Helvetica;
font-size:30px;
font-weight: normal;
line-height:1.6;
color: white;
text-align: center;
}

h2 {
font-family:Helvetica;
font-size:45px;
line-height:1.6;
color:#E59089;
margin-top:80px;
margin-left:-300px;
}

.article-stage {
background-image:url(Nippel.svg);
background-size:cover;
background-position:center;
background-attachment:fixed;
height:60vh;
text-align:center;
display:flex;
align-items:center;
color:#FFF;
font-size:22px;
position:relative;
padding:1rem;
}

img {
width:50%;
height:auto;
}

.Fetisch1 {
max-width:400px;
margin-left:900px;
text-align:right;
margin-top:150px;
}

.Lutscher {
max-width:700px;
margin-left:200px;
margin-top:-350px;
}

.Fetisch2 {
max-width:400px;
margin-left:400px;
text-align:left;
margin-top:50px;
}

.Baum {
max-width:800px;
margin-left:500px;
margin-top:-150px;
width:600%;
}

.Fetisch3 {
max-width:400px;
margin-left:900px;
text-align:right;
margin-top:50px;
}

.Auge {
max-width:1000px;
margin-top:-500px;
margin-left:-1000px;
width:150%;
}

.Fetisch4 {
max-width:400px;
margin-left:400px;
text-align:left;
margin-top:50px;
}

.Clown {
max-width:800px;
margin-left:500px;
width:400%;
margin-top:-150px;
}

.Teddy {
max-width:800px;
margin-left:-900px;
margin-top:-350px;
width:120%;
}

.Fetisch6 {
max-width:400px;
margin-left:400px;
text-align:left;
margin-top:50px;
}

.Uterus {
max-width:800px;
margin-left:500px;
margin-top:-200px;
width:250%;
}

.Bein {
max-width:800px;
margin-left:-800px;
width:100%;
margin-top:-440px;
}

.Fetisch8 {
max-width:400px;
margin-left:400px;
margin-top:-70px;
text-align:left;
}

.Tampon {
max-width:800px;
margin-left:400px;
margin-top: -450px;
width:150%;
}

.Fetisch9 {
max-width:400px;
margin-left: 900px;
margin-top:50px;
text-align:right;
}

.Bienen {
max-width:800px;
margin-left: -1000px;
margin-top: -250px;
width:150%;
}

.Fetisch5,.Fetisch7 {
max-width:400px;
margin-left:900px;
margin-right:auto;
text-align:right;
}
