html {
  font-family: 'Helvetica';
  font-size: 18px;
  line-height: 1.6;
  color: red;
}

h1 {
  font-family: 'Helvetica';
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 2rem;
}


/* NOTE: erster Paragraph groß */

p:first-of-type {
  font-size: 1.4rem;
}

.article-inner {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.article-inner-wide {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.article-image img {
  width: 100%;
}

.article-module {
  margin-top: 4em;
  margin-bottom: 4em;
}

.article-info {
  background-color: blue;
  float: right;
  wide: 12rem;
  padding: 1rem 1.3rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border: 5px solid black;

  box-shadow: 10px 10px 20px 0 black
}

.article-teaser-image img {
  width: 100%;
  height: auto;
}

.article-related .article-inner-wide {
  display: flex;
}

.article-teaser {
  margin: 1rem;
  text-decoration: none;
  color: red;
  background-color: yellow;
}

.article-teaser:hover{
  background-color: red;
  transform:rotate(3deg) scale(1.2);
}

.article-teaser-headline{
  padding: 0.5rem 1rem 1.5rem 1rem;
  }

.article-graphic {
  text-align: center;
}

.animated-eye {
   animation: wobble 1s infinite alternate;
   transform-origin: center;
}

@keyframes wobble {
  0% {
    fill: green;
  }

  25% {
    fill: orange;
  }

  50% {
    fill: turquoise;
  }

  75% {
    fill: red;
  }

  to {
    transform: scale(1.2);
  }
}

.animated-face {
  animation: drehen 30s infinite;
  transform-origin: center;
}

@keyframes drehen{
  to {
    transform: rotate(360deg);
  }
}
