html {
  margin-top: 300px;
  margin-left: 0px;
  background-color: #E59089;
}

.button {
 font-size: 800px;
 font-family:'Helvetica';
 color: white;
 margin-top: 400px;
 margin-left: 500px;
 cursor: url(cursor.png), pointer;
 text-decoration: none;
}

.button:focus {
  outline: 1px dashed white;
}

.button:hover {
 box.shadow: none;
 position: relative;
 top: 800px;
 left: 800px;
}

.Fetishes2 {
  width: 800px;
  height: 800px;
  text-align: center;

}
