html {
}

.button {
 border: 5px solid black;
 border-radius: 0;
 background-color:white;
 font-size: 1.2rem;
 font-family:'Helvetica';
 padding: 15px 25px;
 cursor: url(cursor.png), pointer;
 box-shadow: 5px 5px 0 0 black;
 color: black;
 text-decoration: none;
}

.button:focus {
  outline: 1px dashed red;
}

.button:hover {
 box.shadow: none;
 position: relative;
 top: 5px;
 left: 5px;
}
