html {
  font-family: 'Helvetica';
  font-size: 18px;
  line-height: 1.6;
  color: black;
  background-color: white;
}

h1 {
  font-family: 'Helvetica';
  font-weight: normal;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 2rem;
}

h2 {
  font-family: 'Helvetica';
  font-size: 26px;
  line-height: 1.6;
  color: black;
}

/* NOTE: erster Paragraph groß */


.article-inner {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
