html {
  font-family: 'PT Serif', serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333333;
}

@media all and (min-width: 600px) {
  html {
    font-size: 19px;
  }
}

@media all and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

h1 {
  font-family: 'Arimo', sans-serif;
  font-weight: normal;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 2rem;
}

.article-text:first-of-type p:first-of-type {
  font-size: 1.4rem;
}

.article-module {
  margin-top: 4em;
  margin-bottom: 4em;
}

.article-inner {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.article-inner-wide {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.article-inner-tight {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.article-image img {
  width: 100%;
}

.article-info {
  background-color: yellow;
  float: none;
  padding: 1rem 1.3rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border: 5px solid black;
  box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.1);
  font-family: 'Arimo', sans-serif;
}

@media all and (min-width: 600px) {
  .article-info {
    float: right;
    width: 12rem;
  }
}

.article-teaser-image img {
  width: 100%;
  height: auto;
}

.article-related .article-inner-wide {
  display: flex;
}

.article-teaser {
  margin: 1rem;
  text-decoration: none;
  color: black;
  background-color: yellow;
  transition: all 0.4s;
}

.article-teaser:hover {
  background-color: turquoise;
  transform: rotate(-13deg) scale(1.2) skew(-13deg);
}

.article-teaser-headline {
  padding: 0.5rem 1rem 1.2rem 1rem;
  font-family: 'Arimo', sans-serif;
}


.article-graphic {
  text-align: center;
}

.animated-eye {
  animation: wobble 1s infinite alternate;
  transform-origin: center;
}

@keyframes wobble {
  0% {
    fill: green;
  }

  25% {
    fill: orange;
  }

  50% {
    fill: turquoise;
  }

  75% {
    fill: pink;
  }

  100% {
    transform: scale(1.2);
    fill: red;
  }
}

.animated-face {
  animation: drehen 5s infinite;
  transform-origin: center;
  animation-timing-function: linear;
}

@keyframes drehen {
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  margin-top: 150px;
}

.article-stage {
  background-image: url(wasser.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 2rem;
  height: 70vh;
  text-align: center;
  display: flex;
  align-items: flex-end;
  color: white;
  position: relative;
}

.article-stage::before {
  content: "";
  background: linear-gradient(0, black, transparent);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}

.stage-headline {
  font-family: 'Arimo', sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 1.3;
  position: relative;
}

.stage-subline {
  font-size: 1.5rem;
  font-weight: normal;
  position: relative;
}

.button {
  border: 5px solid black;
  border-radius: 0;
  background-color: yellow;
  font-size: 1.2rem;
  font-family: "Arimo", sans-serif;
  padding: 15px 25px;
  cursor: url(cursor.png), pointer;

  /* NOTE: rechts unten blur überfüllen farbe */
  box-shadow: 5px 5px 0 0 black;
}

.button:focus {
  outline: 1px dashed red;
}

.button:hover {
  box-shadow: none;
  position: relative;
  top: 5px;
  left: 5px;
}

.article-interactive {
  text-align: center;
  min-height: 50vh;
  background-color: yellow;
  display: flex;
  align-items: center;
}

.action {
  background: url(action.gif);

  /*
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  */
}

.header {
  background: black;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 5;
}

.header-logo {
  color: white;
  text-decoration: none;
  font-family: "Arimo", sans-serif;
  text-transform: uppercase;
  letter-spacing: 25px;
}

/* ALT + 5 */

[data-aos="wurst"] {
  filter: blur(100px);
  transform: scale(0.3) rotate(180deg);
  transition-property: all;
}

[data-aos="wurst"].aos-animate {
  filter: blur(0px);
  transform: rotate(0deg);
}








/* NOTE:  */
