@charset "UTF-8";


/* D E S I G N */
body {
  background-color: #F5DD90;
  overflow-x: hidden;
  margin: 0;
  margin-top: 50x;
}

html {
  font-size: 14px;
}

@media all and (min-width: 600px) {
  html {
    font-size: 18px;
  }
}

h1 {
  color: #F76C5E;
  font-family: Futura, sans-serif;
  font-size: 4rem;
  text-align: left;
}

h2 {
  color: #586BA4;
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  font-size: 30pt;
}
/* NOTE: dajfnpsvidfjnvojnvfojv */
p {
  color: black;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  text-align: left;
  line-height: 1.5;
}
/*p:first-letter{
  font-size: 60px;
}*/

.text_block {
  display: block;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.image {
  padding-left: -5px;
  max-width: 900px;
}

.image img{
  display: block;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.article-graphic{
  text-align: center;
}

.animated-eye{
  animation: wobble 6s infinite alternate;
  transform-origin: center;
}

@keyframes wobble {
to {
  transform:scale(1.6);
  fill:red;
 }
}

.animated-face{
  animation: drehen 30s infinite;
  transform-origin: center;
}

@keyframes drehen {
to {
transform: rotate(360deg);

 }
}

.article-inner {
  max-width: 700px;
  margin: 0 auto;
}

.article-stage{
  background-image: url(
    https://images.unsplash.com/photo-1464983953574-0892a716854b?auto=format&fit=crop&w=1500&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    padding: 1rem;
    height: 70vh;
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
    background-size: cover;
    background-position:
    background-attachment: fixed;
    position: relative;
}

.article-stage::before{
  content: ' ';
  background:linear-gradient(180deg,red, transparent, black);
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}

.stage-headline{
  font-family: Futura;
  font-size: 5em;
  color: white;
  position: relative;
}

.stage-subline{
  position: relative;
  font-family: 'Crimson Text', serif;
  color: white;
}

.button{
  display: inline-block;
  position: relative;
  top: 0;
  background-color:black;
  font-family: Futura, sans serif;
  color: white;
  font-size: 2em;
  margin: 2em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 6em;
  border-color: black;
  transform: translateZ(0);
  transition: all 0.5s;
}

.button:hover{
background-color:#F76C5E;
top: -10px;
 transform: rotateX(20deg);
}

.button:active{
  background-color:yellow;
}

.article-interactive{
  text-align: center;
  min-height: 50vh;
  background-color:#FF9AB1;
}

.action {
  background: url(test.gif);
  background-position: top;
  background-size: 20%;
}

.header{
  background-color: #FF9AB1;
  padding: 1rem;
  position: fixed;
  left: 0;
  right:0;
  text-align: center;
  z-index: -5;
}

.header-logo {
color: white;
text-decoration: none;
font-family: Futura;
text-transform: uppercase;
letter-spacing: 1rem;
}

[data-aos="test"]{
  filter:blur(100px);
  transform: rotate(180deg);
  transition-property: all;
}

[data-aos="test"].aos-animate {
  filter:blur(0px);
  transform: rotate(0deg);
}
