@charset "UTF-8";


/* D E S I G N */
body {
  background-color: #F5DD90;
  overflow-x: hidden;
}


h1 {
  color: #F76C5E;
  font-family: Futura, sans-serif;
  font-size: 50pt;
  text-align: left;
}

h2 {
  color: #586BA4;
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  font-size: 30pt;
}
/* NOTE: dajfnpsvidfjnvojnvfojv */
p {
  color: black;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  text-align: left;
  line-height: 1.5;
}
p:first-letter{
  font-size: 60px;
}

.text_block {
  padding-left: 50px;
  max-width: 900px;
}

.image {
  padding-left: 50px;
  max-width: 900px;
}

.image img{
  display: block;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
