html {
  font-family: 'Vollkorn', serif;
}

body {
  line-height: 1.8;
  font-size: 20px;
  font-weight: 300;
  margin: 0px;
  padding-top: 60px;
  display: block;
  }

body, a:hover {cursor: url(http://cur.cursors-4u.net/user/use-1/use168.cur), progress !important;}

  * {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  }

.center {
  left: auto;
  right: auto;
  text-align: center;
}

 .text-center {
    text-align: center;
    }

  a {
    color: #727272;
  }

  a:hover {
    color: #65b144;
    }

  a:hover, a:visited, a:link, a:active
    {
    text-decoration: none;
    }

  @media all and (min-width: 375px) {
    p {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 2px;
        color: #9a9a9a;
        text-align: left;
      }
    }

  @media all and (min-width: 768px) {
    p {
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 2px;
        color: #9a9a9a;
        text-align: left;
      }
    }

  @media all and (min-width: 1200px) {
    p {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 2px;
        color: #9a9a9a;
        text-align: left;
      }
    }

  .blog-text:first-of-type p:first-of-type {
    font-size: 1.4em;
    line-height: 1.2;
    color: #000;
  }

.header {
  background-color: black;
  padding: 20px;
  position: fixed;
  color: white !important;
  z-index: 999;

}

  @media all and (min-width: 375px)
  {
    h1 {
      color: #355115;
      font-size: 45px;
      font-weight: lighter;
      line-height: 48px;
      letter-spacing: 5px;
      padding: 0 20px;
      }
  }

  @media all and (min-width: 375px)
  {
    h2 {
      font-family: Lato, sans-serif;
      color: lightgrey;
      font-size: 15px;
      font-weight: lighter;
    }
  }


  @media all and (min-width: 375px)
  {
    h3 {
      color: #000;
      font-size: 24px;
      font-weight: lighter;
      text-align: left;
      line-height: 28px;
       }
  }

  @media all and (min-width: 768px)
  {
    h1 {
      color: #355115;
      font-size: 50px;
      font-weight: lighter;
      line-height: 60px;
      letter-spacing: 5px;
      }
  }

  @media all and (min-width: 768px)
  {
    h2 {
      font-family: Lato, sans-serif;
      color: lightgrey;
      font-size: 15px;
      font-weight: lighter;
    }
  }


  @media all and (min-width: 768px)
  {
    h3 {
      color: #000;
      font-size: 26px;
      font-weight: lighter;
      text-align: left;
      line-height: 30px;
       }
  }

  @media all and (min-width: 1200px)
  {
    h1 {
      color: #355115;
      font-size: 60px;
      font-weight: lighter;
      line-height: 70px;
      letter-spacing: 5px;
      }
  }

  @media all and (min-width: 1200px)
  {
    h2 {
      font-family: Lato, sans-serif;
      color: lightgrey;
      font-size: 15px;
      font-weight: lighter;
    }
  }


  @media all and (min-width: 1200px)
  {
    h3 {
      color: #000;
      font-size: 25px;
      font-weight: lighter;
      text-align: left;
      line-height: 28px;
       }
  }


  .spacer120 {
    padding: 60px;
  }

  @media all and (min-width: 375px)
  {
    .blog-text {
      padding: 0 30px;

    }
  }

  @media all and (min-width: 768px)
  {
    .blog-text {
      padding: 0 140px;

    }
  }

  @media all and (min-width: 1200px)
  {
    .blog-text {
      padding: 0 380px;

    }
  }

  @media all and (min-width: 375px)
  {
    .blog-image {
      width: 400px;
      padding: 50px 0;
      height: auto;
    }
  }

  @media all and (min-width: 768px)
  {
    .blog-image {
      width: 500px;
      padding: 50px 0;
      height: auto;
    }
  }

  @media all and (min-width: 1200px)
  {
    .blog-image {
      width: 600px;
      padding: 50px 0;
      height: auto;
    }
  }


  @media all and (min-width: 375px) {
    .header-img-rechts {
      margin-top: -400px;
      width: 400px;
      height: auto;
      }
  }

  @media all and (min-width: 768px) {
    .header-img-rechts {
      margin-top: -560px;
      width: 600px;
      height: auto;
      }
  }

  @media all and (min-width: 1200px) {
    .header-img-rechts {
      margin-top: -840px;
      width: auto;
      height: auto;
      }
  }

  .quote {
    font-style: italic;
  }


  .button {

	--border: 2px solid #355115;

	appearance: none;
	position: relative;
	padding: 0;
	background: transparent;
	text-transform: uppercase;
	letter-spacing: .2em;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 0;
	border: none;
  }

	.button span {
		display: block;
		position: relative;
		padding: 1.4em 4em;
		background: #fff;
		color: #355115;
		border: var(--border);
		transition: transform .2s ease;
		z-index: 1;
		will-change: transform;
	}

	.button::after {
		content: '';
		position: absolute;
		top: 6px;
		left: 6px;
		width: calc(100% - 5px);
		height: calc(100% - 5px);
		background: lightgrey;
		border: var(--border);
	}

	.button:hover span {
		transform: translate(-3px, -3px);
	}

	.button:active span {
		transition: transform .05s ease;
		transform: translate(0, 0);
	}

  .article-stage {
    background-image: url(https://unsplash.com/photos/oRWRlTgBrPo);
  }

[data-aos="animation"] {
  transform: scale(0.8);
  transition-property: all;
}

[data-aos="animation"].aos-animate {
  transform: scale(0.1);
}
